Repository DatTruong1047/blog_ai_project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "{src,apps,libs}/**/*.ts": ["npm run lint"],
  "./**/*.{ts,js,json,*rc}": ["npm run format"]
}

feat(CLI): setup DB
  .gitignore
  nodemon.json
  package.json
  prisma/migrations/20250319063400_init_db/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app.ts
  src/commands/index.mts
  src/commands/initDB.ts
  src/commands/initDatabase.mts
  src/commands/new.ts
  src/config/env.ts
  src/config/index.ts
  src/server.ts
  src/services/post.service.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run lint, npm run format

fix(crawl CLI): tao thu muc moi co config rieng
  .eslintignore
  .gitignore
  .gitkeep
  CLI/README.md
  CLI/initDatabase.mts
  CLI/package.json
  CLI/src/commands/crawl.comand.ts
  CLI/src/config/env.ts
  CLI/src/config/index.ts
  CLI/src/data/urls.csv
  CLI/src/index.ts
  CLI/src/modules/crawl.module.ts
  CLI/src/modules/genAI.module.ts
  CLI/tsconfig.cli.json
  constants/ai.constants.ts
  package.json
  prisma/migrations/20250320040019_update_db/migration.sql
  prisma/schema.prisma
  src/app.ts
  src/commands/index.mts
  src/commands/initDB.ts
  src/commands/new.ts
  src/models/index.ts
  src/models/post.model.ts
  src/services/post.service.ts
  src/validators/post.validator.ts
  tsconfig.json
Due: npm run lint, npm run format

feat(init): feature init db CLI
  .env
  CLI/.gitignore
  CLI/README.md
  CLI/package.json
  CLI/prisma/migrations/20250319063400_init_db/migration.sql
  CLI/prisma/migrations/20250320040019_update_db/migration.sql
  CLI/prisma/migrations/migration_lock.toml
  CLI/prisma/schema.prisma
  CLI/src/commands/init.command.ts
  CLI/src/config/env.ts
  CLI/src/config/index.ts
  CLI/src/data/urls/urls.csv
  CLI/src/index.ts
  CLI/src/modules/crawl.module.ts
  CLI/src/modules/genAI.module.ts
  CLI/tsconfig.cli.json
  constants/ai.constants.ts
  package.json
  prisma/migrations/20250319063400_init_db/migration.sql
  prisma/migrations/20250320040019_update_db/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app.ts
  src/models/index.ts
  src/models/post.model.ts
  src/server.ts
  src/services/post.service.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run lint, npm run format

feat(api): api management post and category
  .env
  nodemon.json
  package.json
  prisma/migrations/20250320073639_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/app.ts
  src/config/env.ts
  src/config/index.ts
  src/controllers/category.controller.ts
  src/controllers/post.controller.ts
  src/middlewares/validate.middleware.ts
  src/models/category.model.ts
  src/models/index.ts
  src/models/post.model.ts
  src/routes/category.routes.ts
  src/routes/index.ts
  src/routes/post.routes.ts
  src/server.ts
  src/services/category.service.ts
  src/services/post.service.ts
  src/validators/category.validator.ts
Due: npm run lint, npm run format

Delete .env
  .env
Due: none

refactor(CLI): code refactoring - CLI folder
  CLI/.gitignore
  CLI/package.json
  CLI/prisma/schema.prisma
  CLI/src/README.md
  CLI/src/cache/.gitkeep
  CLI/src/commands/.gitkeep
  CLI/src/config/.gitkeep
  CLI/src/data/.gitkeep
  CLI/src/index.ts
  CLI/src/modules/.gitkeep
  CLI/src/services/.gitkeep
  CLI/src/tsconfig.cli.json
Due: npm run format

feat(list_cli): feature get list post by CLI
  CLI/src/README.md
  CLI/src/commands/.gitkeep
  CLI/src/commands/list.command.ts
  CLI/src/config/.gitkeep
  CLI/src/config/env.ts
  CLI/src/config/index.ts
  CLI/src/data/.gitkeep
  CLI/src/data/urls/urls.csv
  CLI/src/index.ts
  CLI/src/models/index.ts
  CLI/src/models/post.model.ts
  CLI/src/modules/.gitkeep
  CLI/src/modules/crawl.module.ts
  CLI/src/modules/genAI.module.ts
  CLI/src/services/.gitkeep
  CLI/src/services/post.service.ts
Due: npm run format
